adium-theme-ubuntu==0.3.4
alabaster==0.7.9
appdirs==1.4.3
apt-xapian-index==0.46
args==0.1.0
atari-py==0.1.1
autopep8==1.2.4
Babel==2.3.4
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0rc1
backports.weakref==1.0rc1
beautifulsoup4==4.3.2
biopython==1.68
biovec==0.1
boto==2.46.1
bz2file==0.98
certifi==2016.9.26
characteristic==0.1.0
chardet==2.3.0
click==6.7
clint==0.5.1
command-not-found==0.3
configparser==3.5.0
coverage==4.2
cycler==0.10.0
cymem==1.31.2
Cython==0.25.1
dask==0.13.0
debtagshw==0.1
decorator==4.0.11
defer==1.0.6
dirspec==13.10
dlib==19.4.0
docopt==0.6.2
docutils==0.12
duplicity==0.7.1
entrypoints==0.2.2
enum34==1.1.6
Flask==0.12
floyd-cli==0.9.5
foxhound==0.0.1
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.16.0
futures==3.0.5
gdbn==0.1
gensim==0.12.1
gnumpy==0.2
gym==0.9.1
h5py==2.7.0
html5lib==0.999
httplib2==0.9
idna==0.9
imagesize==0.7.1
imgaug==0.2.1
importlib==1.0.4
ipykernel==4.5.2
ipyparallel==5.2.0
ipython==5.1.0
ipython-genutils==0.2.0
ipywidgets==5.2.2
itsdangerous==0.24
Jinja2==2.8
joblib==0.10.3
jsonschema==2.6.0
jupyter-client==5.0.1
jupyter-core==4.3.0
Keras==2.0.4
lockfile==0.8
lxml==3.4.2
MarkupSafe==0.23
marshmallow==2.13.5
matplotlib==1.5.3
mistune==0.7.3
mock==2.0.0
mpmath==0.19
murmurhash==0.26.4
nbconvert==4.2.0
nbformat==4.3.0
networkx==1.11
nltk==3.2.2
nolearn==0.5b1
nose==1.3.7
notebook==4.2.3
numexpr==2.4
numpy==1.13.1
oauthlib==0.6.1
oneconf==0.3.7.15.4.1
opencv-python==3.2.0.7
openface==0.2.1
openslide-python==1.1.1
packaging==16.8
PAM==0.4.2
pandas==0.17.1
pathlib2==2.2.1
patsy==0.4.1
pbr==2.1.0
pefile==2016.3.28
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==2.7.0
piston-mini-client==0.7.5
prompt-toolkit==1.0.9
protobuf==3.2.0
ptyprocess==0.5.1
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycrypto==2.6.1
pycups==1.9.72
pyglet==1.2.4
Pygments==2.1.3
pygobject==3.14.0
PyOpenGL==3.1.0
pyOpenSSL==0.13.1
pyparsing==2.2.0
pyserial==2.6
Pyste==0.9.10
python-apt===0.9.3.11build1
python-dateutil==2.6.0
python-debian==0.1.22
pytz==2017.2
pyxdg==0.25
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.2.1
requests==2.14.2
requests-toolbelt==0.7.1
scandir==1.5
scikit-image==0.12.3
scikit-learn==0.17.1
scipy==0.19.1
seaborn==0.7.1
service-identity==1.0.0
sessioninstaller==0.0.0
shortuuid==0.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
sk-video==1.1.8
smart-open==1.5.2
snowballstemmer==1.2.1
software-center-aptd-plugins==0.0.0
Sphinx==1.4
sphinx-gallery==0.1.7
sphinx-issues==0.3.0
stanza==0.2
sympy==1.1
system-service==0.1.6
tables==3.1.1
tabulate==0.7.7
tensorflow==1.0.1
terminado==0.6
testpath==0.3
tflearn==0.3
Theano==0.9.0
toolz==0.8.2
tornado==4.4.2
traitlets==4.3.2
Twisted-Core==14.0.2
Twisted-Web==14.0.2
unity-lens-photos==1.0
wcwidth==0.1.7
Werkzeug==0.12.1
widgetsnbextension==1.2.6
xdiagnose==3.7.2
zope.interface==4.1.1
